<form method="POST" action="/catalog/create">
    <label>Title: <input name="title" type="text"></label>
    <label>Author: <input name="author" type="text"></label>
    <input type="submit" value="Create">
</form>